<%- include("partials/header.ejs") %>
    <h1 class="placeholderI">xxx</h1>

    <div class="flex-container">
        <p class="pText" onclick="window.location.href='/one'">1</p>
        <p class="pText" onclick="window.location.href='/two'">2</p>
        <p class="pText" onclick="window.location.href='/three'">3</p>
    </div>

    <h1 class="placeholderII">xxx</h1>

    <p class="returnFlight" onclick="window.location.href='/'">return</p>
<%- include("partials/footerPi.ejs") %>